<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "=//mybatis.org// DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.manager.mapper.ProductSalesMapper">
<select id="getSalesList" resultType="org.manager.domain.ProductSalesVO">
	   SELECT * FROM productsales_tbl WHERE postdate = #{postdate}
</select>
<insert id="salesInsert">
insert into productsales_tbl ( psno, daysales, weeksales, monthsales, yearsales, writer, postdate)
	values ( productsales_seq.nextval,#{daysales}, #{weeksales}, #{monthsales}, #{yearsales}, #{writer}, #{postdate} )
</insert>
  <insert id="daysales">
insert into productsales_tbl (pno, userid, cartid, fullname, pname, price, count, pricesales, postdate, daysales )
	values ( productsales_seq.nextval, #{userid}, #{cartid}, #{fullname}, #{pname}, #{price}, #{count}, #{pricesales}, sysdate, #{daysales} )
</insert>
<!--<insert id="daysales" parameterType="java.util.List">
insert into productsales_tbl (pno, daysales, pname, category, writer, pricecount, pricesales, postdate) values 
	<foreach collection="list" index="index" item="item" separator=",">
	( productsales_seq.nextval, #{item.daysales}, #{item.pname}, #{item.category}, #{item.writer}, #{item.priceCount}, #{item.pricesales}, sysdate )
	</foreach>
</insert>-->
<select id="read" resultType="org.manager.domain.ProductSalesVO">
	select * from product_tbl where pno = #{pno}
</select>
<select id="getPriceList" resultType="org.manager.domain.ProductSalesVO">
	SELECT 
	   	postdate,
	    userid,daysales
		FROM productsales_tbl
		GROUP BY 
		postdate, 
		userid,daysales
</select>
</mapper>